/********************************
        Helpers
*********************************/

.section--header-underline {
    text-align: center;
    margin-bottom: 1rem;

    .section__title {
        & {
            position: relative;
            font-size: 60px;
            text-transform: uppercase;
            font-family: 'JosefinSans', sans-serif;
            letter-spacing: 3px;
        }
    }
}

@mixin section-background-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}