@import '../../styles/variables';

/************************************
  Header
***********************************/

.header {
  & {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    padding: 20px 30px;
  }
  &.fixed {
    position: fixed;
  }
  .logo {
    display: inline-block;
    max-width: 100px;
  }
} 